name: release
on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.SERVICE_TOKEN }}

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 'latest'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Configure Git
        run: |
          git config user.name "digizelle-service"
          git config user.email "41898282+digizelle-service@users.noreply.github.com"

      - name: Tagging project
        run: npm run release

      - name: Push changes
        run: git push --follow-tags origin main
        env:
          GITHUB_TOKEN: ${{ secrets.SERVICE_TOKEN }}
